  *{
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background:#2C3639;
    
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h2,
  h3,
  a {
    color: #dcd7c9a8;
  }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-size: 1.45em;
  }
  
  .main-nav {
    margin-top: 5px;
  }
  .logo a,
  .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
  
  .main-nav a {
    color: #dcd7c9a8;
    font-size: 0.99em;
  }
  
  .main-nav a:hover {
    color: #e8e4d8;
  }
  
  .header {
    
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #a2a2a2;
    background: #2C3639;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    
		width: 100%;
		margin: 0 auto;
		
	
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
  


#allpost{
  align-self: center;
  color:#3F4E4F;
  
}
  #post{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:50%;
    height: 200px;
    position:relative;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    display:flex;
    flex-direction: column;
    
  }
  #title{
    margin: 30px 30px 30px 30px;
    position: relative;
    text-align: center;
  }
  #content{
    text-align: left;
    margin: 30px 30px 30px 30px;
  }
  #btn{
    display:flex;
    justify-content: center;
    text-align: center;
    color:#a2a2a2
  }
  #text{
    background: #3F4E4F;
  }
  #showInput,#save,#cancel {
    border: transparent;
    background-color: #3F4E4F;
    color:#dcd7c9a8;
    
}
