
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Actual Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     
    <div class="content">
        <h1>CatIt</h1>
            <form id="newCat" action="/ncat" method="post" >
                <button id="show-input" type="button"><strong>New Category</strong></button>
                <div id="category-input">
                    <input type="text" name="name">
                    <button type="submit" id="save"><strong>Save</strong></button>
                    <button type="button" id="cancel"><strong>Cancel</strong></button>
                </div>
            </form>
             
        
    </div>
    <script>
        
    </script>
</body>
</html>