
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basketball Nation</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/mystyle.css" type="text/css">
    <link rel="icon" href="/images/Basketball Nation.png">
</head>
<body>
     <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Categories</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <%categories.forEach(category=>{%>
                    <a href='/<%=category.name%>'><%=category.name.charAt(0).toUpperCase()+category.name.slice(1)%></a>
                <%})%>
            </div>
        </div>
        <img src="/images/Basketball Nation.png">
    </div>
    <div class="content">
        <h1>Basketball Blog</h1>
        <div class="blog">
            <button id="btn-np"><a href="/new"><strong>New Post</strong></a></button>
            <form action="/newcat/" method="post" class="new-category">
                <button id="show-input" type="button" onclick="show()"><strong>New Category</strong></button>
                <div id="category-input" style="margin-top: 1vh;">
                    <input type="text" name="name" required id="ncategory">
                    <button type="submit" id="save" onclick="hide()"><strong>Save</strong></button>
                    <button type="button" id="cancel" onclick="hide2()"><strong>Cancel</strong></button>
                </div>
            </form>
             
        </div>
    </div>
    <script>
        function show(){
            const cat=document.querySelector('#category-input')
            cat.style.display='inline-block'
        }
        function hide(){
            const cat=document.querySelector('#category-input')
            if(document.querySelector('#ncategory').value!=="")
                cat.style.display='none'
        }
        function hide2(){
            const cat=document.querySelector('#category-input')
            cat.style.display='none'
        }
    </script>
</body>
</html>