
        <% posts.forEach( (post) => { %>
                    <h5 > Title : <%= post.title %> </h5>
                    <p > Content : <%= post.content  %> </p>
                    <a href="/post/single/<%= post._id %>">See Post</a>
        <%})%>
