<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width,
		initial-scale=1.0">
    <title>Categories</title>
	<link href="./style.css" rel="stylesheet">
</head>

<body>
	<form id="editCat" action="/post/cat/" method="post" >
		<input style="display:none" value="<%= categories._id %>" name="id">
		<button id="showEInput" type="button">Edit Category</button>
		<div id="categoryEInput" style="display: none;">
			
			<input type="text" name="name">
			<button type="submit" id="saveEdit" name="metoda" value="update"><strong>Save</strong></button>
			<button type="submit"id="delete" name="metoda" value="delete"><strong>Delete</strong></button>
			<button type="button" id="cancelEdit"><strong>Cancel</strong></button>
		</div>
	</form>
	
	<% posts.forEach( (post) => { %>
		<h5 > Title : <%= post.title %> </h5>
		<p > Content : <%= post.content  %> </p>
		<a href="/post/single/<%= post._id %>">See Post</a>
	<%})%>
	<script>
        function show(){
        document.getElementById("categoryEInput").style.display="";
    }
    function hide(){
        document.getElementById("categoryEInput").style.display="none";
    }
    document.getElementById("showEInput").addEventListener("click", show);
    document.getElementById("saveEdit").addEventListener("click", hide);
    document.getElementById("cancelEdit").addEventListener("click", hide);
    document.getElementById("delete").addEventListener("click", hide);
	</script>
</body>

</html>
