<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width,
		initial-scale=1.0">
    <title>Create new post</title>
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
	<h1 id="greetings_id">Make a new post?</h1>
        <form id='newPost'action='/post/' method="post" >
            <input type="text" id="title" name="title" placeholder = 'Title'><br><br>
            <textarea id="content_id" value="text" name="content"
                          placeholder="Text(optional)"></textarea><br><br>
            <select id="category_id" name="category">
                <option disabled selected value>Choose category</option>
                <%categories.forEach(category=>{%>
                     <option value="<%=category.name%>"><%=category.name%></option>
                <%})%>
            </select><br><br>
            <button type="submit">Create new post</button>
        </form>
<br><br><br>
        <form action='/post/' method="post" >
            <input type="text" id="title" name="title" placeholder = 'Title'><br><br>
            <textarea id="content_id" value="text" name="content"
                          placeholder="Text(optional)"></textarea><br><br>
            
            <button type="submit">Create new post</button>
        </form>

    
	<script>

	</script>
</body>

</html>
