<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width,
		initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./css/style1.css" />   
		<title>Main feed</title>
</head>

<body>
	<div id="singlePost">
	<h1>Category : <%= post.category %> </h1>
    <h1 >Title : <%= post.title %></h1>
    <h1 >Content : <%= post.content %></h1>
	</div>
    <a href="/post/single/edit/<%= post._id %>">Modify post</a>
	
</body>
<style>
	body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background:#2C3639;
    
  }
	a{
		text-decoration: none;
	}
	#singlePost{
  
  
}
</style>
</html>
