<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width,
		initial-scale=1.0">
    <title>Main feed</title>
	<link href="./style.css" rel="stylesheet">
</head>

<body>
	<h1>Category : </h1>
	<h2><%= post.category %></h2>
    <h1 >Title : </h1>
    <h2> <%= post.title %></h2>
    <h1 >Content : </h1>
	<p><%= post.content %></p>
    <a href="/post/single/edit/<%= post._id %>">Modify post</a>
	<script>

	</script>
</body>

</html>
